# Py ignored files
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Build folder
*.egg-info/

# Package build
build/
dist/

# Unit test, coverage reports
.coverage
.tox
nosetests.xml

# pytest cache
.pytest_cache
__pycache__

# IntelliJ, IDEA, PyCharm
/out/
.idea/
.idea_modules/

# Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/

# DS Store files
*.DS_Store

# Config
.env*

# Sphinx
docs/_*
